html {
  font-size: 20px;
  font-family: $font-main;
}

p {
  color: $color-gray;
  font-size: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  color: $color-light;
  font-size: 10rem;
  font-weight: $font-black;
  text-align: center;
  letter-spacing: 120px;
  margin: 0;
}

h2 {
  color: $color-light;
  font-size: 1.75rem;
  font-weight: $font-semibold;
  text-align: center;
  letter-spacing: 11px;
  margin: 0;
}

h3 {
  color: $color-light;
  font-size: 5rem;
  font-weight: $font-semibold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 21px;
  margin: 0;
}

h4 {
  color: $color-light;
  font-size: 5rem;
  font-weight: $font-black;
  text-align: center;
  letter-spacing: 20px;
  margin: 0;
}

h5 {
  color: $color-light;
  font-family: $font-main;
  font-size: 2rem;
  font-weight: $font-bold;
  text-align: center;
  letter-spacing: 7.5px;
  margin: 0;
}

h6 {
  color: $color-light;
  font-size: 1rem;
  font-weight: $font-black;
}

// MEDIA
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .page-wrapper {
    width: 100%;
    height: 100%;
  }

  .hero {
    height: 90vh;
  }

  h1 {
    font-size: 5.7rem;
    letter-spacing: 1.7rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  body {
    background-color: rgb(43, 162, 226);
  }

  .page-wrapper {
    width: 600px;
    height: 100%;
  }

  .hero {
    height: 90vh;
  }

  h1 {
    font-size: 8.5rem;
    letter-spacing: 2.6rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 999px) {
  html {
    font-size: 14px;
  }

  .page-wrapper {
    width: 760px;
    height: 100%;
  }

  .hero {
    height: 100vh;
  }

  h1 {
    font-size: 10rem;
    letter-spacing: 4rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
  html {
    font-size: 14px;
  }

  body {
    background-color: rgb(43, 226, 67);
  }

  .page-wrapper {
    width: 1000px;
    height: 100%;
  }

  .hero {
    height: 100vh;
  }
}
@media only screen and (min-width: 1301px) {
  html {
    font-size: 14px;
  }

  body {
    background-color: rgb(208, 226, 43);
  }

  .page-wrapper {
    width: 1300px;
    height: 100%;
  }

  .hero {
    height: 110vh;
  }
}
