html {
  font-size: 20px;
}

h1 {
  color: $color-light;
  font-family: $font-main;
  font-size: 200px;
  font-weight: $font-black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 120px;
  margin: 0;
}

h2 {
  color: $color-light;
  font-family: $font-main;
  font-size: 36px;
  font-weight: $font-semibold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 11px;
  margin: 0;
}
h3 {
  color: $color-light;
  font-family: $font-main;
  font-size: 100px;
  font-weight: $font-semibold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 21px;
  margin: 0;
}
h4 {
  color: $color-light;
  font-family: $font-main;
  font-size: 100px;
  font-weight: $font-black;
  text-align: center;
  letter-spacing: 20px;
  margin: 0;
}
h5 {
  color: $color-light;
  font-family: $font-main;
  font-size: 2rem;
  font-weight: $font-bold;
  text-align: center;
  letter-spacing: 7.5px;
  margin: 0;
}
.h5--upper {
  letter-spacing: 8px;
  text-transform: uppercase;
}
