$color-dark: #131313;
$color-light: #fff;
$color-gray: #bfbfbf;
$color-detail: #cf383e;

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

// $transition: all 0.3s;
// $radius: 4px;

// $base-size: 12px;
