#search {
  form {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      color: $color-light;
      margin: 0 10px 0 25px;
    }

    input,
    select {
      border-radius: 6px;
      padding: 0 6px;
      height: 40px;
    }

    button {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $color-light;
      background-color: $color-detail;
      border: 0;
      border-radius: 6px;
      height: 40px;
      margin: 0px 20px;
      padding: 0 20px;
    }
  }

  .search-result {
    font-size: 1rem;
    color: $color-light;
  }
}
